html{
  box-sizing: border-box;
}

html, body {
  overscroll-behavior-x: none;
  /* max-width: 100vw; */
}

/* html, body {
  overflow-x: hidden;
} */

*,
*::after,
*::before{
  box-sizing: inherit;
  margin: 0;
  padding: 0;
  
}

body{
  height: 100vh;
  width:100vw;
  /* display:grid; */
  /* place-content: center; */
  font-family: 'Outfit', 'Montserrat' ,Verdana, Geneva, Tahoma, sans-serif;
  /* font-family: 'Montserrat' ,Verdana, Geneva, Tahoma, sans-serif; */
  overflow-x: hidden;
  /* position: relative; */
}

.container{
  /* height: 100vh; */
  width:100vw;
  position: relative;
  /* Position relative stopped the empty scrolling on the right */
  overflow-x: hidden;
  /* Along with overflow hidden */
}

.main-page{
  position: relative;
  width:100vw;
  height:100vh;
  display: grid;
  place-content: center;
}

rect{
  mix-blend-mode: lighten;
}

.centered{
  display:grid;
  place-content: center;
  z-index: 2;
}

.centered-text{
  text-align: center;
  line-height: 100%;
  font-size: max(6vw, 3rem);
  z-index: 2;
}

.text-1{
  font-weight: 300;
}

.text-2{
  font-weight: 900;
}

.logo{
  text-align: center;
  justify-self: center;
  position: relative;
  width:50vw;
  height:max(7vw, 3rem);
  /* translate: 0 -30%; */
  margin-bottom: 5%;
}

.logo-container{
  position: relative;
  height:100%;
  width: auto;
  display: flex;
  justify-content: center;
}

.s-1,.s-2{
  position: relative;
  /* top:0; */
  /* left:0; */
  height:100%;
  aspect-ratio: 1;
  width:auto;
}

.s-1{
  translate: 0 0;
  transform: translateX(10%);
  z-index: 1;
}

.s-2{
  translate: 0 0;
  transform: translateX(-15%);
}

.overlay-s-1{
  position: absolute;
  top:0;
  left:50%;
  translate: -50% 0;
  height:100%;
  aspect-ratio: 1;
  width: auto;
  /* background: linear-gradient(to bottom right, #777, #111); */
  /* background-clip: content-box; */
  /* mix-blend-mode: darken; */
}

.randompng{
  position: absolute;
  width:100%;
  height:100%;
  background-clip: content-box;
  /* mix-blend-mode: lighten; */
}

.selector{
  /* background-image: linear-gradient(white, black); */
  /* background: linear-gradient(to bottom right, #777, #111); */

  /* background-size: cover; */
  /* background-position: center; */
  background-attachment: fixed;  /* <- here it is */
}

.s-left, .s-right{
  position: absolute;
  top:0;
  left:0;
  width:50%;
  aspect-ratio: 1;
  background-color: #f00;
  border-radius: 100% 0 0 0;
}

.s-bot{
  translate: 0 109%;
}

.s-right{
  transform: translateX(109%);
  border-radius: 0 0 100% 0;
}

.slt{
  background: linear-gradient(to bottom right, #777, #444);
}
.slb{
  background: linear-gradient(to bottom right, #5e5e5e, #2a2a2a);
}
.srt{
  background: linear-gradient(to bottom right, #5d5d5d, #2a2a2a);
}
.srb{
  background: linear-gradient(to bottom right, #444, #111);
}

.lt2{
  background: linear-gradient(to bottom right, #fff, #AFAFAF);
}
.lb2{
  background: linear-gradient(to bottom right, #DCDCDC, #8A8A8A);
}
.rt2{
  background: linear-gradient(to bottom right, #D3D3D3, #828282);
}
.rb2{
  background: linear-gradient(to bottom right, #AFAFAF, #707070);
}

/* .s-right{
  width:100%;
  aspect-ratio: 1;
  background-color: #f00;
  border-radius: 0 0 100% 0;
} */

.darkShape{
  position: absolute;
  left:0;
  width: max(30vw, 20rem);
  top:20%;
  translate:-20% 0;
  /* scale: calc(20vw); */
}

.lightShape{
  position: absolute;
  right:0;
  width: max(30vw, 20rem);
  top:50%;
  translate:20% 0;
  z-index: 0;
  /* scale: calc(20vw); */
  /* animation: name duration timing-function delay iteration-count direction fill-mode; */
}

.cover{
  position: absolute;
  width:100vw;
  height:100svh;
}

.cover img{
  position: absolute;
  width:100%;
  opacity: 0.1;
}

/* ------ */

.second-page{
  margin-top: 5vh;
  width:100%;
  /* height: 80svh; */
  position: relative;
  /* top:100%; */
  /* background-color: #ff000020; */
}

.portfolio-text{
  position: relative;
  white-space: nowrap;
  display: inline;
  font-weight: 500;
  font-size: 7vw;
  font-style: italic;
  font-family: 'Montserrat' ,Verdana, Geneva, Tahoma, sans-serif;
}

.text-skew{
  translate: -20% 0;
  rotate:-2deg;
  transform: skew(-5deg, 0deg) translateX(120%);
}

.text-skew-2{
  translate: -20% 10%;
  rotate:-1deg;
  transform: skew(-2deg, 0deg) translateX(-120%);
}

.projects{
  /* position: absolute;
  width:100%;
  height: 50%; */
  margin: 5vh 0;
  height:calc(20vw + 4rem);
  max-height: 30rem;
  /* position: relative; */
  /* left:50%; */
  /* translate: -33.06% 0; */
  /* width:100%; */
  /* display: flex; */
  /* position: relative;
  left:50%; */
  translate: -0.7% 0;
  width:100%;
  display: flex;
  justify-content: center;
  /* grid-auto-flow: column; */
  /* gap: calc(1 * - 8vw + 50rem); */
  gap: max(calc(15vw - 9rem), 1.2rem);
}

.project{
  position: relative;
  height:calc(20vw + 4rem);
  max-height: 30rem;
  aspect-ratio: 1/ 1.4;
  width: auto;
  border: calc(0.3rem + 0.3vw) solid #1b1b1b;
  transition: all 0.3s cubic-bezier(0.8, 0, 0.2, 1);
  translate: max(calc((15vw - 9rem) / 2), 0.6rem) 0;
}

.project-border{
  position: absolute;
  box-sizing: content-box;
  top: 0;
  left: 0;
  translate: calc(-0.3rem - 0.3vw) calc(-0.3rem - 0.3vw);
  width:100%;
  height:100%;
  border: calc(0.3rem + 0.3vw) solid #1b1b1b;
  pointer-events: none;
}

.project-sub{
  position: absolute;
  font-size: calc(1rem + 0.5vw);
  bottom: 0;
  left: 0;
  translate: calc(-0.3rem - 0.3vw) 130%;
  font-weight: 800;
}

.project-img{
  position: absolute;
  left:50%;
  top:50%;
  translate: -50% -50%;
  height:90%;
  aspect-ratio: 1/ 1.4;
  filter: saturate(0) contrast(1);
  /* z-index: -1; */
  transition: all 0.3s cubic-bezier(0.8, 0, 0.2, 1);
}

.project-2-img{
  /* translate: -50% -50.1%; */
  scale: 1.01;
  /* height:101%; */
}

.project-3-img{
  /* height:100%; */
  filter: saturate(0) contrast(0.9);
}

.project:hover{
  rotate:0deg !important;
  /* transform: translate(0, 0) rotate(0deg) !important; */
  animation: none !important;
  translate: 0 -10%;
  scale:1.1;
}

.project:hover .project-img{
  height:100%;
  filter: saturate(1) contrast(1.1);
}
.project:hover .project-1-img,
.project:hover .project-3-img{
  /* scale: 1 calc(1 + 200px); */
  height: calc(100% + 2px);
}

.project:hover .project-3-img{
  /* height:100%; */
  filter: saturate(1) contrast(1);
  /* filter: saturate(1.5) contrast(0.9); */
}


/* ------- */

.third-page,
.about-page{
  height:50vh;
  display: grid;
  place-content: center;
  font-family: 'Montserrat' ,Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 700;
  font-size: max(4vw, 3rem);
  font-style: italic;
  width:100%;
  text-align: center;
}

.about-page{
  height: 40vh;
}

/* ------- */

.projectPages{
  margin-bottom: 8%;
  overflow-x: hidden;
  max-width: 100vw;
}

.other-page{
  margin-bottom: 0;
}

.main-page-text{
  width:100%;
  /* font-size: 10vw; */
  font-size: min(10vw, 16vh);
  font-weight: 800;
  translate: 0.5rem 0;
}

.page-right .main-page-text{
  text-align: right;
  translate: -1.5rem 0;
  /* position: absolute; */
  /* right:0; */
}

.page-project-container{
  display: flex;
  flex-wrap: nowrap;
  /* flex-direction: row-reverse; */
  /* overflow: visible; */
  cursor: pointer;
  overflow-x: scroll;
  padding-bottom: 10vh;
}

.page-project-container::-webkit-scrollbar{
  display: none;
}

/* .flex-gap{
  width:10px;
  height: 20px;
  background-color: yellow;
} */

.page-project{
  /* background-color: red;
  width:30vw;
  aspect-ratio: 1/1.4;
  height: auto;
  margin-right: 2rem; */

  position: relative;
  
  margin-right: 2rem;
  /* background-color: red; */
  /* max-width:28vw; */
  /* width:28vw; */
  /* max-height: 80vh; */
  /* max-height: 70vh; */
  width: min(28vw, 50vh);
  /* We want max height to be 80vh for example
  so since aspect ratio is 1/1.4 we do 80/1.4 = 57vh */
  aspect-ratio: 1/ 1.4;
  border: calc(0.3rem + 0.3vw) solid #1b1b1b;
  overflow: visible;
  box-shadow: 0 0 10rem #ffffff30;


  /* display: grid;
  place-content: center;
  place-items: center; */

  /* background-color: transparent; */
  
  
  /* height:calc(20vw + 4rem);
  max-height: 30rem;
  aspect-ratio: 1/ 1.4;
  width: auto;
  border: calc(0.3rem + 0.3vw) solid #1b1b1b; */
}

.page-projects{
  padding-right: 35vw;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row-reverse;
  /* This is for the ones on the left */
  /* gap:2%; */
  position:relative;
  
}

.page-right .page-projects{
  flex-direction: row;
  padding-left: 35vw;
  padding-right: 0;
}

.page-project-text{
  position: absolute;
  bottom:0;
  left:0;
  font-size: calc(1rem + 1vw);
  translate: calc(-0.3rem - 0.3vw) 130%;
  font-weight: 800;
  z-index: 2;
  pointer-events: none;
  text-transform: uppercase;
  text-shadow: 0 0 5rem #ffffff30;

  /* background-color: red; */
}

.page-project-img{
  /* background-color: red; */
  width: calc(100% - 1.5vw - 1.5vh);
  height: calc(100% - 1.5vw - 1.5vh);
  /* aspect-ratio: 1/ 1.4; */
  /* object-fit: cover; */
  position: absolute;
  top:50%;
  left:50%;
  translate: -50% -50%;
}
  
.page-project-img img{
  width: 100%;
  height:100%;
  object-fit: cover;
  /* min-width: 100%;
  min-height: 100%; */
  /* position: absolute; */
}


/* ------- */

.art3d-page{
  position: relative;
  overflow-y: hidden;
}

/* .ui-web-design-page{
  position: relative;
  overflow: auto;
} */

.ss3DBlock1{
  filter: brightness(1.5);
  position: absolute;
  right: 0;
  bottom: 0%;
  translate: 38% calc(8% + 10vw);
  width: max(45vw, calc(14vh + 25vw));
}

.ss3DBlock{
  filter: brightness(1.4);
  position: absolute;
  left: 0;
  top: 0;
  translate: -38% calc(-8% - 10vw);
  rotate: 15deg;
  width: max(45vw, calc(10vh + 20vw));
  pointer-events: none;
}

.ui-web-design-page .main-page-text{
  margin-bottom: 1rem;
}

.ui-web-design-page{
  margin-bottom: calc(8% - 1rem);
}

.blockUI1{
  position: absolute;
  left: 0;
  translate: -22% -5vh;
  rotate: -2deg;
  /* top: 0; */
  width: max(50vw, calc(14vh + 25vw));
}

.blockUI1, .blockUI2{
  /* image-rendering: pixelated; */
  filter:contrast(1.05);
}

.blockUI2{
  position: absolute;
  right: 0;
  /* bottom: 0; */
  /* umm using this with relative from the page blocks the noise
  from the image.. so .. */
  rotate: -2.8deg;
  translate: 20% calc(48% + 10vw);
  width: max(50vw, calc(14vh + 25vw));
  mix-blend-mode: multiply;
  /* z-index: 10; */
  pointer-events: none;
}

.photoBlock1{
  position: absolute;
  /* width: max(50vw, calc(14vh + 25vw)); */
  width: 35vw;
  /* width: calc(10vh + 20vw); */
  left:0;
  translate: -5% 6vh;
}

.photoBlock2{
  position: absolute;
  /* width: max(50vw, calc(14vh + 25vw)); */
  width: 35vw;
  right:0;
  translate: 5% calc(55% + 22vw);
}

/* ------- */

.last-page{
  position: relative;
  width:100%;
  height:100svh;
  margin-top: -10vw;
  display: grid;
  place-content: center;
}

.about-me{
  position: relative;
  width:70vw;
  height: auto;
  /* display: grid; */
  /* place-content: center; */
  color: #fff;

  padding: 2rem;
  background: linear-gradient(to bottom right, #777, #111);
  border-radius: 1rem;
}

.am1{
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 1rem;
}

.am2{
  font-size: 1.1rem;
  font-weight: 400;
}

.iframe{
  width: min(60vw, 120rem);
  aspect-ratio: 16/9;
  margin-bottom: 2rem;
  margin: 0 auto 4rem auto;
}

.overlay{
  position: fixed;
  top:0;
  left:0;
  width:100%;
  height:100%;
  z-index: 1000;
}

.overlay-icons{
  width: min(20%, 4.5rem);
  position: fixed;
  height:100%;
  top:0.3%;
  right: 0.5%;
  /* background-color: red; */
  z-index: 100;
  transition: opacity 0.3s ease 0.3s;
}

.overlay-icon{
  position: relative;
  left: 50%;
  margin-top: 15%;
  translate: -50% 0;
  width:80%;
  aspect-ratio: 1;
  background-color: #f9f9f9;
  border-radius: min(1vw, 0.5rem);
  box-shadow: 0px 0.3vh 0.5vh 0.2vh rgba(0,0,0,0.1);
  display: grid;
  place-content: center;
}

.overlay-icon svg{
  width:100%;
  scale: 0.75;
  opacity: 0.3;
}

.overlay-icon .in-svg{
  scale: 0.55;
  translate: 1% 0;
}

.overlay-icon .email-svg{
  scale: 0.65;
  translate: 0 2%;
  z-index: 1;
}

.email-icon{
  cursor: pointer;
}

.overlay-icon .email-svg:hover ~ .email-show{
  clip-path: polygon(0% 0, 100% 0, 100% 100%, 0% 100%);
}

.overlay-icon .ig-svg:hover ~ .ig-show{
  clip-path: polygon(0% 0, 100% 0, 100% 100%, 0% 100%);
}

.email-show,
.ig-show{
  position: absolute;
  height: 90%;
  left:0;
  top:50%;
  font-weight: 700;
  translate:-100% -49.5%;
  background-color: #f9f9f9;
  display: grid;
  place-content: center;
  border-radius: 0.4rem 0 0 0.4rem;
  box-shadow: -0.2vh 0.1vh 0.5vh 0.2vh rgba(0,0,0,0.05);
  clip-path: polygon(100% 0, 100% 0, 100% 100%, 100% 100%);
  transition: 0.3s ease clip-path;
  color:#1b1b1b;
}

.email-show{
  width:max(350%,12rem);
}

.ig-show{
  width:max(350%,12rem);
}

.email-show-shadow{
  position: absolute;
  right:0;
  height:100%;
  width:7%;
  background: linear-gradient(to right,  rgba(249, 249, 249, 0), rgba(0, 0, 0, 0.05));
}

/* .projectPages:has(.page-project-img:hover) ~ .double-click-project{
  opacity: 1;

}

.double-click-project{
  background-color: rgba(230,230,230,0.85);
  position: fixed;
  left:50%;
  translate: -50% 0;
  bottom: 10%;
  padding: 2rem;
  font-size: 2rem;
  border-radius: 1rem;
  -webkit-transform:translate3d(0,0,0);
  -webkit-backdrop-filter: blur(50px);
  backdrop-filter: blur(50px);
  z-index: 1000;
  opacity: 0;
} */

/* .div-on-top{
  position: fixed;
  top:50%;
  left:50%;
  width:50%;
  height:50%;
  translate: -50% -50%;
  background: rgba(255,200,200,0.0);
  backdrop-filter: blur(40px) !important;
  z-index: 10000000;
}

.another-div{
  position: absolute;
  width:100%;
  height:100%;
  background: rgba(255,255,255,0.5);
  backdrop-filter: blur(40px) !important;

} */


@media (width < 600px){
  .project-sub{
    font-size: min(calc(3.75vw), 1.25rem);
    white-space: nowrap;
  }

  .text-main-3D{
    font-size: 14vw;
  }

  .about-me{
    width: 92vw;
  }

  .am1{
    font-size: 6vw;
    font-weight: 600;
  }

  .am2{
    font-size: 4.5vw;
    font-weight: 400;
  }
}


@media (width < 800px){
  .page-project{
    width:35vw;
    max-width: 35vw;  
  }
}